<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.mapper.BackendUserMapper">
  <resultMap id="BaseResultMap" type="com.jbit.entity.BackendUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userCode" jdbcType="VARCHAR" property="usercode" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userType" jdbcType="BIGINT" property="usertype" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyby" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userCode, userName, userType, createdBy, creationDate, modifyBy, modifyDate, 
    userPassword
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from backend_user
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>